.contact {
  padding: 115px 0 0px;

  &__descr {
    color: #a3bbc8;
    @extend %dm-700;
    text-align: center;
  }

  &__title {
    color: #436372;
    text-align: center;
    @extend %dm-700;
    font-size: 35px;
    line-height: 57px;
    margin-bottom: 70px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
  }

  &__top-item {
    max-width: 375px;
    width: 100%;
    min-height: 385px;
    background-color: #fbfbfb;
    padding: 10px;
    border: 3px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .7s;

    path {
      transition: all .3s;
    }

    &:hover {
      border: 3px solid #a3bbc8;

      path {
        fill: #fff;
      }

      .contact__top-img__box {
        background-color: #a3bbc8;
      }
    }
  }

  &__top-item+&__top-item {
    margin-left: 30px;
  }

  &__top-img__box {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    transition: all .7s;
  }

  &__top-name {
    @extend %dm-700;
    color: $title;
    margin-bottom: 23px;
  }

  &__top-adress,
  &__top-mail,
  &__top-text {
    color: #565872;
    @extend %rubik-400;
  }

  &__top-adress {
    span {
      margin-bottom: 15px;
      display: block;
    }
  }

  &__top-text,
  &__top-mail {
    margin-bottom: 15px;
  }

  &__top-num {
    color: #565872;
    @extend %rubik-400;
  }

  &__form {
    max-width: 624px;
    margin-right: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  #map {
    max-width: 500px;
    width: 100%;
    height: 335px;
  }
}

@media(max-width:968px){
  .contact {
    padding: 50px 0;
    &__top-inner{
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .contact__top-item + .contact__top-item{
      margin: 10px auto;
    }
    &__top-item{
      margin: 10px auto;
    }
    &__inner{
      flex-direction: column;
    }
    &__form{
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media(max-width:600px) {
  .comments{

    &__input-box{
     flex-direction: column;
    }
    &__leave-name__box,
    &__leave-name,
    &__leave-mail__box,
    &__leave-mail{
     margin-right: 0;
     max-width: 100%;
     width: 100%;
    }
  }
}

@media(max-width:450px) {
   .contact{
     #map{
       height: 250px;
     }
     &__top-item{
       min-height: 300px;
     }
   }
}