html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 24px;
  color: $accent;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}
a{
 color: $accent;
}


.big-container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.small-container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title{
  font-size: 36px;
  line-height: 1;
  color: $title;
  @extend %dm-700;
  margin-bottom: 35px;
  text-align: center;
}

.breadcrumbs{

  &__list{
    display: flex;
    justify-content: center;
  }
  &__item + &__item{
    padding-left: 13px;
    margin-left: 5px;
  }
  &__item{
  position: relative;
  }
  &__item + &__item::before{
    content: '/';
    position: absolute;
    left: 0;
  }
  &__link{
    font-size: 14px;
    color: rgba(34, 41, 51, 0.6);
    line-height: 1.714;
    @extend %rubik-400;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__list{
    display: flex;

  }
  &__item + &__item{
    margin-left: 15px;
  }
  &__item{
    background-color: #fff;
    border: 1px solid #a3bbc8;
    transition: all .5s;
    &:hover{
      background-color: #9fc1d3;
    }
  }
  &__item.pagination__item--active{
    background-color: #a3bbc8;
    .pagination__link{
      color: #fff;
    }
  }
  &__link{
    padding: 13px 22px;
    display: inline-block;
    @extend %rubik-400;
    color: #243f4d;
  }
  &__next{
    @extend %rubik-400;
    padding: 12px 19px;
    border: 1px solid #a3bbc8;
    margin-left: 15px;
    transition: all .5s;
    &:hover{
      background-color: #a3bbc8;
      color: #fff;
    }
  }
}