@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 50px 0;
  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
}

.menu{

  &__list{
  display: flex;
  }
  &__item{
  border-bottom: 1px solid transparent;
  transition: all cubic-bezier(1, 0.7, 0, 0.9) .4s;
  }
  &__item:hover{
  border-bottom: 1px solid #243f4d;
  }
  &__item + &__item{
  margin-left: 30px;
  }
  &__link{
  color: #436372;
  @extend %rubik-500;
  font-size: 15px;
  }
}

.user-nav{
  display: flex;
  &__seach,
  &__button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edf1f4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }
  &__info{
  display: flex;
  margin: 0 20px;
  background-color: #fcd7b6;
  align-items: center;
  border-radius: 25px;
  position: relative;
  }
  &__info::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 32px;
  top: 20%;
  right: 50%;
  background-color: #fde7d3;
  }
  &__likes{
  padding: 10px 15px 10px 40px;
  margin-right: 15px;
  position: relative;
  }
  &__basket{
  padding: 10px 40px 10px 15px;
  margin-left: 15px;
  position: relative;
  }
  &__basket__num,
  &__likes__num{
  position: absolute;
  height: 16px;
  width: 16px;
  font-size: 10px;
  line-height: 16px;
  background-color: #fff;
  right: 32px;
  top: 2px;
  text-align: center;
  border-radius: 50%;
  @extend %dm-700;
  }
  &__likes__num {
  top: 2px;
  right: 6px;
  }
  &__button{
  background-color: #a3bbc8;
  }
}

.footer{

  &__top{
   display: flex;
   justify-content: space-between;
   padding: 70px 0 55px 0;
   border-bottom: 1px solid #dae4e9;
  }
  &__item{
  margin: 0 10px;
  }
  &__info{
    width: 210px;
  }
  &__title{
    text-transform: uppercase;
    color: #1f2044;
    line-height: 21px;
    margin-bottom: 30px;
    @extend %dm-700;
  }
  &__logo{
    margin-bottom: 25px;
    display: inline-block;
  }
  &__adres,
  &__phone,
  &__mail{
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__adres-link{
    text-transform: capitalize;
    @extend %rubik-400;
  }
  &__mail-link{
    text-transform: lowercase;
     @extend %rubik-400;
  }
  &__services-link,
  &__account-link{
    @extend %rubik-400;
  }
  &__services{
    width: 150px;
  }
  &__services-item,
  &__account-item{
    margin-bottom: 9px;
  }
  &__form{
    max-width: 275px;
  }
  &__form-text{
    line-height: 24px;
    margin-bottom: 30px;
    @extend %rubik-400;
  }
  &__form-input{
    padding: 12px;
    border: none;
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
  }
  &__form-input::placeholder{
    font-size: 12px;
    color: #234969;
    @extend %dm-400;
  }
  &__form-btn{
    background-color: #a3bbc8;
    border: none;
    color: #fff;
    padding: 12px 13px;
    cursor: pointer;
    @extend %dm-400;
    margin-left: -3px;
  }
  &__services,
  &__form,
  &__account{
    margin-top: 16px;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
  }
  &__menu-list{
  display: flex;
  }
  &__menu-item + &__menu-item{
    margin-left: 10px;
  }
  &__menu-link,
  &__licenzion{
    @extend %rubik-400;
    font-size: 14px;
  }
}


.top-slider{

  &__container{
    position: relative;
    background-color: #fcd7b6;
    z-index: 1;
  }
  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 270px 0;
  }
  &__content{
    margin-right: 110px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 70px;
    line-height: 72px;
    color: #243f4d;
    margin-bottom: 25px;
    max-width: 450px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    max-width: 375px;
    margin-bottom: 30px;
  }
  &__btn{
    @extend %rubik-500;
    color: #fff;
    background-color: #a3bbc8;
    padding: 20px 100px 20px 25px;
    position: relative;
  }
  &__btn::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/slider_img/arrow_btn.svg');
    width: 22px;
    height: 9px;
  }
  &__img-inner{
    position: relative;
  }
  &__img{
    position: relative;
    z-index: 3;
  }
  &__img-inner::after{
    content: '';
    position: absolute;
    background-image: url('../images/slider_img/ellipse_bg.png');
    width: 100%;
    height: 634px;
    transform: translateY(-70%);
    right: 0;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    li{
      margin: 7px;
      button{
        border: none;
        background-color: rgb(255, 255, 255, 0.3);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        @extend %rubik-500;
        font-size: 10px;
        color: #243f4d;
      }
      &.slick-active{
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}

.company-info{

  &__container{
    background-color: #fef7f0;
    padding: 40px 0;
  }
  &__inner{
    display: flex;
    justify-content: space-around;
    min-height: 170px;
    align-items: center;
  }
  &__item{
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    padding: 0 10px;
  }
  &__item--borders{
    position: relative;
  }
  &__img{
  }
  &__img-box{
    position: relative;
    margin-right: 20px;
    width: 50px;
  }
  &__text{
    @extend %dm-400;
  }
  &__img-box::after,
  &__img-box--two::after,
  &__img-box--three::after{
    content: '';
    position: absolute;
    background-color: rgb(163, 187, 200, 0.3);
    width: 20px;
    height: 21px;
    border-radius: 50%;
  }
  &__img-box::after{
      right: -7px;
      top: 28px;
      }
  &__img-box--two::after{
    right: -6px;
    top: 14px;
    }
  &__img-box--three::after{
    right: -6px;
    top: 29px;
    }
  &__title{
   @extend %dm-700;
   font-size: 18px;
   line-height: 22px;
   color: #414141;
   margin-bottom: 14px;
  }

}
.video-popup{
   background-image: url('../images/play_bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
  &__btn{
  }
  &__img{

  }
}
@import 'media';

