.products {
  padding: 70px 0 120px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 48px 30px;
  }
}

.mixit-btns {
  text-align: center;

  &__button {
    background-color: transparent;
    border: none;
    color: #8b8b8b;
    @extend %dm-700;
    margin: 0px 15px;
    cursor: pointer;
    margin-bottom: 75px;
  }
}

.cart-item {
  text-align: center;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  padding-top: 20px;

  &__img-box {
    object-fit: cover;
    position: relative;
    overflow: hidden;
    min-width: 170px;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__title {
    color: #243f4d;
    @extend %dm-500;
    margin-bottom: 15px;
    margin-top: 40px;
  }

  &__price {
    color: #a3bbc8;
    @extend %dm-700;
    margin-bottom: 30px;
  }

  &__nav {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all .3s;
    transform: translateY(300%);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all .5s;
  }

  &__link:hover {
    transform: scale(1.15);
  }

  &__link--blue {
    background-color: #a3bbc8;
  }

  &:hover {
    .cart-item__nav {
      transform: translateY(0%)
    }
  }
}

.mixitup-control-active {
  color: #191919;
}

.new {
  padding: 100px 0 35px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}


.product-item {
  max-width: 370px;
  width: 100%;
  height: 245px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 30px;

  &:hover {
    .product-item__category {
      color: #662ecf;
    }

  }

  &__title {
    @extend %dm-700;
    font-size: 20px;
    margin-bottom: 15px;
    color: $title;
    display: inline-block;
    width: 175px;
  }

  &__category {
    color: #a3bbc8;
    @extend %dm-700;
    line-height: 1;

  }
}

@media(max-width:1200px) {
  .products {
    padding: 50px 0 100px;
  
    &__inner {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    .cart-item{
      max-width: 100%;
    }
  }
}
@media(max-width: 968px) {
  .products {
    padding: 50px 0 50px;

    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
  .new {
    padding: 100px 0 35px;
  
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    .product-item{
      max-width: 100%;
    }
  }
}

@media(max-width: 600px) {
.mixit-btns__button {
  margin-bottom: 30px;
}
.products {
  padding: 50px 0 50px;

  &__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.new {
  padding: 100px 0 35px;

  &__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
}