.footer {

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 55px 0;
    border-bottom: 1px solid #dae4e9;
  }

  &__item {
    margin: 0 10px;
  }

  &__info {
    width: 210px;
  }

  &__title {
    text-transform: uppercase;
    color: #1f2044;
    line-height: 21px;
    margin-bottom: 30px;
    @extend %dm-700;
  }

  &__logo {
    margin-bottom: 25px;
    display: inline-block;
  }

  &__adres,
  &__phone,
  &__mail {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__adres-link {
    text-transform: capitalize;
    @extend %rubik-400;
  }

  &__mail-link {
    text-transform: lowercase;
    @extend %rubik-400;
  }

  &__services-link,
  &__account-link {
    @extend %rubik-400;
  }

  &__services {
    width: 150px;
  }

  &__services-item,
  &__account-item {
    margin-bottom: 9px;
  }

  &__form {
    max-width: 275px;
  }

  &__form-text {
    line-height: 24px;
    margin-bottom: 30px;
    @extend %rubik-400;
  }

  &__form-input {
    padding: 12px;
    border: none;
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
  }

  &__form-input::placeholder {
    font-size: 12px;
    color: #234969;
    @extend %dm-500;
  }

  &__form-btn {
    background-color: #a3bbc8;
    border: none;
    color: #fff;
    padding: 12px 13px;
    cursor: pointer;
    @extend %dm-400;
    margin-left: -3px;
    transition: all .5s;
  }

  &__form-btn:hover {
    background-color: #3a5f74;
  }

  &__services,
  &__form,
  &__account {
    margin-top: 16px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item+&__menu-item {
    margin-left: 10px;
  }

  &__menu-link,
  &__licenzion {
    @extend %rubik-400;
    font-size: 14px;
  }
}