.partners {
  &__container {
    background-color: #fef7f0;
  }

  padding: 70px 0 90px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__item {}
}