.partners {
  &__container {
    background-color: #fef7f0;
  }

  padding: 70px 0 90px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__item {}
}

@media(max-width:968px){
  .partners{
    padding: 50px 0;
  .partners__list{
      flex-wrap: wrap;
    }
    &__item{
      margin: 30px;
    }
  }
}