.login {
  padding: 115px 0;

  &__inner {
    max-width: 490px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px
  }

  &__label {
    color: #436372;
    @extend %rubik-400;
    font-size: 14px;
  }

  &__email,
  &__password {
    display: block;
    width: 100%;
    border: none;
    height: 60px;
    border-width: 2px;
    border-color: rgb(246, 246, 246);
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__password {
    margin-bottom: 30px;
  }

  &__btn {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 18px;
    @extend %rubik-500;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .5s;
  }

  &__btn:hover {
    background-color: #3a5f74;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(246, 246, 246);
    margin-bottom: 30px;
  }

  &__lost-password,
  &__register-link {
    color: #436372;
    @extend %rubik-400;
    font-size: 14px;
  }

  &__register-link {
    text-align: center;
    margin-bottom: 20px;
  }

  &__created__account {
    background-color: #fff;
    border: 2px solid rgb(163, 187, 200);
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    color: #436372;
    @extend %rubik-500;
    font-size: 18px;
    transition: all .5s;
  }

  &__created__account:hover {
    color: #fff;
    background-color: #3a5f74;
    border: 2px solid #3a5f74;
  }
}